.acordeon{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid #fff;
    border-radius: 1rem;
    transition: 0.25s;
    margin-bottom: 1rem;
}
.acordeon.open,
.acordeon:hover{
    background-color: #55569e;
    border-color: #55569e;
}


.contente__acordeon{
    display: none;
    transition:  opacity .25s ease-out;
}

.acordeon.open .contente__acordeon{
    display: inline-block;
    padding: 1.5rem;
    opacity: 1;
}

.trigger{
    display: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    font-weight: 700;
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1.6rem;
}

.acordeon.open .trigger::after{
    transform: rotate(180deg);
}

.trigger::after{
    content: "";
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-image: url("../icons/arrow.svg");
    background-size: contain;
    transition: 0.25s;
}




.list__contente__acordeon{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    list-style: none;  
    /* padding: 1rem; */
    
}



.item__list__contente{
    font-size: 1rem;
    font-weight: 600;
}
.item__list__contente::before{
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-image: url("../icons/check.svg");
    background-size: contain;
    margin-right: 0.5rem;
}