.portifolio__contente{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.item__project__contente{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 1rem;
    padding: 1rem;
}
.item__project__contente:hover{
background-color:#4c4d8dd0 ;
border-radius: 5px;
}


.item__project__contente .title{
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: .5rem;
}

.item__project__contente .title::before{
    content: "";
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-image: url("../icons/github-icon.svg");
    background-size: contain;
    margin-right: 0.5rem;
}

.item__project__contente a{
    text-decoration: none;
    color: #ecebeb;
}

.item__project__contente a:hover{
    text-decoration: underline;
}